extends layout

block content
  h1 #{title}
  p
    a.button(href='/games/new') Create New Game
  p
    a(class="filter-item" href='/games')  All 
    span &#124;
    a(class="filter-item" href='/games/overdue_games')  Overdue 
    span &#124;
    a(class="filter-item" href='/games/checked_games')  Checked Out 
  table
    thead
      tr
        th Title
        th Developer
        th Genre
        th Year Released
    tbody
      each game in games
        tr
          td
            a(href=`/games/${game.id}`) #{game.title}
              td #{game.developer}
              td #{game.genre}
              td #{game.first_published}