extends layout

block content
  h1 New Game
  form(method='post', action='/games/new')
    if errors
      ul
        each error in errors
          li= error.message
    p
      div(class="detail-label")
        label(for='title') Title
      input#title(type='text', name='title', value=title)
    p
      div(class="detail-label")
        label(for='developer') Developer
      input#developer(type='text', name='developer', value=developer)
    p
      div(class="detail-label")
        label(for='genre') Genre
      input#genre(type='text', name='genre', value=genre)
    p
      div(class="detail-label")
        label(for='first_published') First Published
      input#first_published(type='text', name='first_published', value=first_published)
    p
      input(type='submit', value='Create New Game')
